body{
    background-image: url("https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1704758400&semt=ais");
    background-repeat: no-repeat;
    background-size: cover;
    
}
img{
    width: 100px;
    height: 100px;
}
.img1{
    border-radius:25px;
}
.img2{
    border-radius:45px 50px 20px 30px;
    
}
.img3{
    border-radius:50% 20% / 10%  20%; 
}
.img4{
    border-radius: 75px; 40px 20px 10px;
}
.img5{
    border-radius: 90% 80% / 30% 20%;
}
.img6{
    border-radius: 100px;
    
}
.img1:hover{
    border-radius: 5px 4px 10px 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow:30px 20px 40px green; 
}
.img2:hover{
    border-radius: 2px;
    margin-bottom: 30px;
    margin-top: 10px;
    box-shadow: 10px 20px 50px orange;
    
}
.img3:hover{
    border-radius: 30% 50% / 50% 30%;
    margin-bottom: 30px;
    margin-top:15px;
    box-shadow: 70px 60px 40px blue;
}
.img4:hover{
    border-radius: 45px 50px 40px 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    box-shadow: 80px 40px 40px red;
    
}
.img5:hover{
    border-radius: 50% 30% / 20% 40%;
    margin-bottom: 25px;
    margin-top: 30px;
    box-shadow: 50px 20px 60px pink;

}
.img6:hover{
    border-radius: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    box-shadow: 70px 80px 90px black;
}